{% extends 'base.html.twig' %}

{# {% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %} #}

{% block title %}Escargot
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<h1> {{ escargot }} </h1>
{% endblock %}