{% extends 'base.html.twig' %}

{# {% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %} #}

{% block title %}Escargot
{% endblock %}

{% block body %}
<h2 class="title">De petits mouvements peuvent avoir de grands impacts !</h2>
{% endblock %}