{% extends 'base.html.twig' %}

{# {% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %} #}

{% block title %}Escargot
{% endblock %}

{% block body %}
	<div id="carouselAutoplaying m-5" class="carousel slide mx-5" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{ asset('build/images/touch.jpg') }}" class="d-block w-100" alt="Escargots dans la nature">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/snail.jpeg') }}" class="d-block w-100" alt="Snail d'un escargot">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/eco.png') }}" class="d-block w-100" alt="Eco">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="InfoAsso mt-5 m-5">
		<div class="card">
			<h6 class="card-header">Qui somme nous</h6>
			<div class="card-body">
				<h5 class="card-title mb-3 mt-1">L'association d'escargot en action réalisez une mission de bénévolat Ramassage de déchets</h5>
				<p class="card-text">Chaque année, des centaines de tonnes de déchets se retrouvent dans la nature, volontairement ou involontairement.
									Ils ont un impact sans pareil sur la faune et sur la flore : fragmentation du plastique sous forme de microplastiques, blessures d’animaux,
									pollution des sols… Même s’il convient de lutter contre la génération de déchets à la source, en modifiant ses comportements individuels pour 
									privilégier par exemple des achats avec le moins d’emballages possibles, il est important à court terme de limiter la pollution durable des milieux. 
									Au-delà de l’effet bénéfique immédiat, la collecte de déchets est un excellent moyen pédagogique et convivial pour encourager à la prise de 
									conscience et en apprendre plus sur le contenu de nos poubelles.</p>
			</div>
		</div>
	</div>

	<div class="InfoToInscption mt-5 m-5">
		<div class="card">
			<h6 class="card-header">Collecte de déchets pédestre sur la plage, collecte de déchets en canoë sur un fleuve, collecte de déchets en montagne…</h6>
			<div class="card-body">
				<h5 class="card-title mb-3 mt-1">Réalisez une mission de bénévolat Ramassage de déchets</h5>
				<p class="card-text">Chaque année, des centaines de tonnes de déchets se retrouvent dans la nature, volontairement ou involontairement.
									Ils ont un impact sans pareil sur la faune et sur la flore : fragmentation du plastique sous forme de microplastiques, blessures d’animaux, pollution des sols… 
									Même s’il convient de lutter contre la génération de déchets à la source, en modifiant ses comportements individuels pour privilégier par exemple 
									des achats avec le moins d’emballages possibles, il est important à court terme de limiter la pollution durable des milieux. 
									Au-delà de l’effet bénéfique immédiat, la collecte de déchets est un excellent moyen pédagogique et convivial pour encourager à la prise de conscience 
									et en apprendre plus sur le contenu de nos poubelles.</p>
				<p class="card-text fs-5">Trouvez une mission de bénévolat Ramassage de déchets parmi les missions actuellement disponibles et faites vivre l'engagement de chacun pour tous :</p>
				<a href="#" class="btn btn-primary">Connecter pour voir et participate dans les sorties</a>
			</div>
		</div>
	</div>

{% endblock %}
