@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$font-body: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-size: 1.5rem;

$primary: #5c4b8f ;
$secondary: #e8ffee;
$intermediate: #1d842e;
$light: #eaeefe;
$dark: #002c19;
$background: #f7f2ff;

@import "~bootstrap/scss/bootstrap";

body {
    background-repeat: no-repeat;
    font-family: $font-body;
    font-size: $font-size;
    background: $background;
    margin-top: 100px;
    margin-bottom: 20px;
}

.title {
    font-family: $font-title;
    color: $intermediate;
}

.carouselAutoplaying {
    width: 80%;
    height: 80%;
}

.navbar {
    color: $intermediate;
}

.navbar-brand {
    font-family: $font-title;
    display: flex;
    justify-content: start;
}

.carousel {
    margin-top: 200px;
}

.proshaineSorties {
    gap: 20px;
}

.adminOuting {
    margin: 200px;
    margin-top: 300px;
}

.login {
    margin-top: 50px;
}

.titleLogin {
    margin-top: 200px;
}

.registrationForm {
    margin-top: 200px;
}

.registration-form {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
    color: $secondary;
    padding: auto;
}

.mail-registration {
    color: $primary;
}

.registration-input {
    border-radius: 10px;
}

// .btn {
//     --bs-btn-border-radius: 15px;
//     box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
// }

// .btnReturn {
//     border-radius: 10px;
//     box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
// }