@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$font-body: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-size: 1.8rem;

$primary: #6d5d9e ;
$secondary: #31a745;
$intermediate: #e8ffee;
$light: #f1fafc;
$dark: #002c19;
$background: #f4f4fd;

@import "~bootstrap/scss/bootstrap";

body {
    background-repeat: no-repeat;
    font-family: $font-body;
    font-size: $font-size;
    background: $background;
    margin-top: 100px;
    margin-bottom: 20px;
}

.title {
    font-family: $font-title;
    color: $intermediate;
}

.navbar {
    background-color: $secondary;
    color: $intermediate;
}

.navbar-brand {
    font-family: $font-title;
    display: flex;
    justify-content: start;
}

.action-card {
    width: 420px;
    height: 700px;
}

.card-img-top {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.action-card .card-title {
    height: 6rem;
}