<nav class="navbar navbar-light p-1 mb-5 fixed-top col mx-lg-auto">
	<div class="container-fluid">
		<div class="navbar-brand">
			<a class="navbar gap-3" href="{{ path('app_index')}}">
				<img scr="{{ asset('build/images/eco.png') }}" alt="" width="50" height="50" class="d-inline-block align-text-top">
				<h3 class="display-2">Escargot en action</h3>
			</a>
		</div>
		<div class="d-flex gap-2">
			<button type="button" class="btn btn-success">Connextion</button>
			<button type="button" class="btn btn-outline-success">Inscription</button>
		</div>
	</div>
</nav>
